.App {
  text-align: center;
  background: url("./image/p.jpeg");
  background-size: 100% 100%;
  
}

.inline{
  display: inline;
  
}
.changeColor:hover{
 color:green;
  font-weight: bold;
}

.carousal-back{
  background-color: white;
}

ul li{
  display:inline;
}
* {
  box-sizing: border-box;
}
.avatar {
  vertical-align: middle;
  width: 140px;
  height: 50px;
  border-radius: 50%;
}
.responsive {
  width: 100%;
  height: auto;
}
.back{
 
 text-align: center;
 background-color:hsla(200, 51%, 20%, 0.986);
  
 color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-variant:inherit;
}
.column {
  float: left;
  width:"35.33%";
  padding: 9px;
}
.b{
  background-color: white;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
.background {
  border-radius: 8px;
  background-color:hsla(60, 3%, 12%, 0.781);;
  
}
.text{
  font-style: inherit;
  color: black;
  font-size:80px;
  font-variant: small-caps;
  background-color:hsla(34, 15%, 91%, 0.658);
  padding: 10% 20% 10% 20%;
}


.adText{
  
  font-style: inherit;
  color: black;
  font-size:30px;
  font-variant: small-caps;
 
}
.top-left {
  position: absolute;
  top: 5px;
  left: 15px;
}
.bottom-left {
  position: relative;
  bottom: 5px;
  left: 2px;
}
.bottom-right {
  margin-bottom: 10%;
  left: 10%;
}
.bottom-left-text {
  position: relative;
  margin-top: 10rem;
  left: .4rem;
  color:white;
 
}
.statusText{
    font-size: 150%;
    color:white;
    
}
.text-bg{
  background-color:hsla(200, 51%, 20%, 0.986);
  border-radius: 50%;
  padding:20% 0 20% 0
;}

.text-align{
  text-align: left;
  font-size: 20px;
  font-family:  Arial, Helvetica, sans-serif;
  margin-bottom:1rem;
}



.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  
}
.setColor{
  color:#130b12f5;
  background-color:blueviolet;
 
}
.App-link {
  color: #61dafb;
}

